Given two integer numbers return their product only if the product is equal to or lower than 1000, else return their sum.

In [1]:
def calculate(a, b):
    if a*b <= 1000:
        return a*b
    else:
        return a+b
    
calculate(10, 2000)

2010

Write a program to accept a string from the user and display characters that are present at an even index number

In [20]:
name=input("enter a string: ")
length_name=len(name)

for i in range(2,length_name,2):
    if  i % 2==0:
        print (name[i])

enter a string: odhiambo
h
a
b

In [22]:
name=input("enter a string: ")
x = list(name)
for i in x[0::2]:
    print(i)

enter a string: odhiambo
o
h
a
b

Write a program to remove characters from a string starting from zero up to n and return a new string.

In [27]:
def remove_characters(name,number):
    x=name[2:]
    return x
  

print(remove_characters('Albert', 2))

bert

Write a function to return True if the first and last number of a given list is same. If numbers are different then return False.

In [31]:
def same_number(lst):
    first_number=lst[0]
    last_number=lst[-1]
    
    if first_number == last_number:
        return True
    else:
        return False
    
print(same_number([10, 20, 30, 40, 10]))
print(same_number([75, 65, 35, 75, 30]))

True
False

Write a program to check if the given number is a palindrome number.

In [42]:
def palindrome(num):
    str_num=str(num)
    
    if str_num== str_num[::-1]:
            print ("it is a palindrome")
    else:
            print (" its not my lucky day")
            
palindrome(156)

 its not my lucky day

Given a two list of numbers, write a program to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list.

In [52]:
def combine(lst1, lst2):
    new_list = []
    for i in lst1:
        if i % 2 != 0:
            new_list.append(i)
    for n in lst2:
        if n % 2 == 0:
            new_list.append(n)
    return new_list

result = combine([10, 20, 25, 30, 35], [40, 45, 60, 75, 90])
print(result)

[25, 35, 40, 60, 90]

In [53]:
numbers = [12, 75, 150, 180, 145, 525, 50]
# iterate each item of a list
for item in numbers:
    if item > 500:
        break
    elif item > 150:
        continue
    # check if number is divisible by 5
    elif item % 5 == 0:
        print(item)

75
150
145

Write a program to create a function that takes two arguments, name and age, and print their value

In [54]:
def demo(name, age):
    # print value
    print(name, age)

# call function
demo("Ben", 25)

Ben 25

In [55]:
def calculation(a, b):
    addition = a + b
    subtraction = a - b
    # return multiple values separated by comma
    return addition, subtraction

# get result in tuple format
res = calculation(40, 10)
print(res)

(50, 30)